body { 
  color: black
  width: 75%
  margin-top: 20px
  display: block
} 
span { 
  font-size: 20px
  color: red
} 
h1.red { 
  color: red
} 
h1.blue { 
  color: blue
} 
h1.green.large { 
  color: green
  font-size: 30px
} 
h1.orange::before { 
  text-decoration: underline
} 
div { 
  color: blue
} 
div.balls { 
  color: green
} 
div.balls.tickets { 
  color: purple
} 
