html {
  padding: 10px;
}
body {
  color: black;
  width: 75%;
  margin-top: 20px;
  display: block;
}
span {
  font-size: 20px;
  color: red;
}
h1 .red {
  color: red;
}
h1 .blue {
  color: blue;
}
@media (max-width: 420px) {
  h1 .blue {
    color: navy;
  }
}
@media (max-width: 800px) {
  h1 .blue {
    color: cyan;
  }
}
@media (max-width: 69px) {
  h1 .blue {
    color: aqua;
  }
}
h1 .green.large {
  color: green;
  font-size: 30px;
  -webkit-filter: 1px solid grey;
}
h1 .orange::before {
  text-decoration: underline;
}
div {
  color: blue;
}
div .balls {
  color: #ffff00;
}
div .balls .tickets {
  color: #ff6600;
}
.twilight {
  color: black;
  background: white;
}
.twilight .vampire {
  color: #ffff00;
}
.twilight .bree {
  color: blue;
}
.twilight.moonlight {
  color: grey;
}
.twilight.moonlight .sunset {
  color: #ff6600;
}
